.filter-div {
    margin-left: 5%;
}

/* Ürün kartı stilleri merkezi _product-card.scss'ten gelir; burada tekrarlanmaz, HEMEN İNCELE butonu home ile aynı görünür */

button,
input[type=submit],
.btn,
.btn--primary {
    -moz-user-select: "none";
    -ms-user-select: "none";
    -webkit-user-select: "none";
    user-select: "none";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --button-border-color: #4a5f63;
    --button-hover-filter: contrast(90%) brightness(1.1);
    margin: 1px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.4em;
    min-width: 148px;
    padding: 11px 39px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
    border-radius: 25px;
    border: 0;
    text-transform: none;
    letter-spacing: inherit;
    white-space: normal;
    box-shadow: 0 0 0 1px var(--button-border-color);
    background-color: #4a5f63;
    color: #ffffff;
    transition: all 100ms ease-in-out;
}


.btn.btn--small {
    padding: 8px 22px;
    min-width: 118px;
}