<div class="row">
    <div class="col-xl-3 col-lg-4 mt-5">
      <div class="card filter-div">
        <div class="card-header">
          <div class="d-flex mb-3">
            <div class="flex-grow-1">
              <h5 class="fs-16">Filters</h5>
            </div>
            <div class="flex-shrink-0">
              <a href="javascript:void(0);" (click)="clearall($event)" class="text-decoration-underline">Clear All</a>
            </div>
          </div>
  
          <div class="filter-choices-input">
            <ng-select [items]="Default" [multiple]="true" bindLabel="name" [(ngModel)]="multiDefaultOption">
              <ng-template ng-optgroup-tmp let-item="item">
                {{item.country || 'Unnamed group'}}
              </ng-template>
            </ng-select>
          </div>
        </div>
  
        <div class="accordion accordion-flush">
  
          <div class="card-body border-bottom">
            <div>
              <p class="text-muted text-uppercase fs-12 fw-medium mb-2">Products</p>
              <ul class="list-unstyled mb-0 filter-list">
                <li class="filter-list-option">
                  <a href="javascript:void(0);" class="d-flex py-1 align-items-center"
                    (click)="changeProducts($event,'Kitchen Storage & Containers','Grocery')">
                    <div class="flex-grow-1">
                      <h5 class="fs-13 mb-0 listname">Grocery</h5>
                    </div>
                    <div class="flex-shrink-0 ms-2" *ngIf="grocery > 0">
                      <span class="badge bg-light text-muted">{{grocery}}</span>
                    </div>
                  </a>
                </li>
                <li class="filter-list-option">
                  <a href="javascript:void(0);" class="d-flex py-1 align-items-center"
                    (click)="changeProducts($event,'Clothes','Fashion')">
                    <div class="flex-grow-1">
                      <h5 class="fs-13 mb-0 listname">Fashion</h5>
                    </div>
                    <div class="flex-shrink-0 ms-2" *ngIf="fashion > 0">
                      <span class="badge bg-light text-muted">{{fashion}}</span>
                    </div>
                  </a>
                </li>
                <li class="filter-list-option">
                  <a href="javascript:void(0);" class="d-flex py-1 align-items-center"
                    (click)="changeProducts($event,'Watches','Watches')">
                    <div class="flex-grow-1">
                      <h5 class="fs-13 mb-0 listname">Watches</h5>
                    </div>
                    <div class="flex-shrink-0 ms-2" *ngIf="watches > 0">
                      <span class="badge bg-light text-muted">{{watches}}</span>
                    </div>
                  </a>
                </li>
                <li class="filter-list-option">
                  <a href="javascript:void(0);" class="d-flex py-1 align-items-center"
                    (click)="changeProducts($event,'Electronics','Electronics')">
                    <div class="flex-grow-1">
                      <h5 class="fs-13 mb-0 listname">Electronics</h5>
                    </div>
                    <div class="flex-shrink-0 ms-2" *ngIf="electronics > 0">
                      <span class="badge bg-light text-muted">{{electronics}}</span>
                    </div>
                  </a>
                </li>
                <li class="filter-list-option">
                  <a href="javascript:void(0);" class="d-flex py-1 align-items-center"
                    (click)="changeProducts($event,'Furniture','Furniture')">
                    <div class="flex-grow-1">
                      <h5 class="fs-13 mb-0 listname">Furniture</h5>
                    </div>
                    <div class="flex-shrink-0 ms-2" *ngIf="furniture > 0">
                      <span class="badge bg-light text-muted">{{furniture}}</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="d-flex py-1 align-items-center"
                    (click)="changeProducts($event,'Bike Accessories','Automotive Accessories')">
                    <div class="flex-grow-1">
                      <h5 class="fs-13 mb-0 listname">Automotive Accessories</h5>
                    </div>
                    <div class="flex-shrink-0 ms-2" *ngIf="accessories > 0">
                      <span class="badge bg-light text-muted">{{accessories}}</span>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="d-flex py-1 align-items-center"
                    (click)="changeProducts($event,'Tableware & Dinnerware','Appliances')">
                    <div class="flex-grow-1">
                      <h5 class="fs-13 mb-0 listname">Appliances</h5>
                    </div>
                    <div class="flex-shrink-0 ms-2" *ngIf="appliance > 0">
                      <span class="badge bg-light text-muted">{{appliance}}</span>
                    </div>
                  </a>
                </li>
  
                <li>
                  <a href="javascript:void(0);" class="d-flex py-1 align-items-center"
                    (click)="changeProducts($event,'Bags, Wallets and Luggage','Kids')">
                    <div class="flex-grow-1">
                      <h5 class="fs-13 mb-0 listname">Kids</h5>
                    </div>
                    <div class="flex-shrink-0 ms-2" *ngIf="kids > 0">
                      <span class="badge bg-light text-muted">{{kids}}</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="card-body border-bottom">
            <p class="text-muted text-uppercase fs-12 fw-medium mb-4">Price</p>
            <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" id="product-price-range"
              (valueChange)="valueChange($event,true)" (highValueChange)="valueChange($event,false)"></ngx-slider>
            <div class="formCost d-flex gap-2 align-items-center mt-3">
              <input class="form-control form-control-sm" type="text" id="minCost" value="{{minValue}}" />
              <span class="fw-semibold text-muted">to</span>
              <input class="form-control form-control-sm" type="text" id="maxCost" value="{{maxValue}}" />
            </div>
          </div>
  
          <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
            <ngb-panel id="static-1">
              <ng-template ngbPanelTitle class="accordion-header" id="gen-ques-headingOne">
                <button class="border-0 bg-transparent" type="button" data-bs-toggle="collapse"
                  data-bs-target="#gen-ques-collapseOne" aria-expanded="false" aria-controls="gen-ques-collapseOne">
                  <span class="text-muted text-uppercase fs-12 fw-medium">Brands</span> <span
                    class="badge bg-success rounded-pill align-middle ms-1" *ngIf="totalbrand > 0">{{totalbrand}}</span>
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="accordion-body text-body p-0">
                  <div class="search-box search-box-sm">
                    <input type="text" class="form-control bg-light border-0" placeholder="Search Brands...">
                    <i class="ri-search-line search-icon"></i>
                  </div>
                  <div class="d-flex flex-column gap-2 mt-3">
                    <div class="form-check">
                      <input class="form-check-input" name="checkAll" type="checkbox" value="Boat" id="productBrandRadio5"
                        (change)="changeBrand($event)">
                      <label class="form-check-label" for="productBrandRadio5">Boat</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="checkAll" type="checkbox" value="OnePlus"
                        id="productBrandRadio4" (change)="changeBrand($event)">
                      <label class="form-check-label" for="productBrandRadio4">OnePlus</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="checkAll" type="checkbox" value="Realme"
                        id="productBrandRadio3" (change)="changeBrand($event)">
                      <label class="form-check-label" for="productBrandRadio3">Realme</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="checkAll" type="checkbox" value="Sony" id="productBrandRadio2"
                        (change)="changeBrand($event)">
                      <label class="form-check-label" for="productBrandRadio2">Sony</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" name="checkAll" type="checkbox" value="JBL" id="productBrandRadio1"
                        (change)="changeBrand($event)">
                      <label class="form-check-label" for="productBrandRadio1">JBL</label>
                    </div>
                    <div>
                      <button type="button" class="btn btn-link text-decoration-none text-uppercase fw-medium p-0">1
                        More</button>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <!-- end accordion-item -->
  
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="static-2">
              <ng-template ngbPanelTitle class="accordion-header" id="flush-headingDiscount">
                <button class="border-0 bg-transparent" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseDiscount" aria-expanded="true" aria-controls="flush-collapseDiscount">
                  <span class="text-muted text-uppercase fs-12 fw-medium">Discount</span> <span
                    class="badge bg-success rounded-pill align-middle ms-1"
                    *ngIf="totaldiscount > 0">{{totaldiscount}}</span>
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="d-flex flex-column gap-2">
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="50%" id="productdiscountRadio6"
                      (change)="changeDiscount($event)">
                    <label class="form-check-label" for="productdiscountRadio6">
                      50% or more
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="40%" id="productdiscountRadio5"
                      (change)="changeDiscount($event)">
                    <label class="form-check-label" for="productdiscountRadio5">
                      40% or more
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="30%" id="productdiscountRadio4"
                      (change)="changeDiscount($event)">
                    <label class="form-check-label" for="productdiscountRadio4">
                      30% or more
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="20%" id="productdiscountRadio3"
                      (change)="changeDiscount($event)">
                    <label class="form-check-label" for="productdiscountRadio3">
                      20% or more
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="10%" id="productdiscountRadio2"
                      (change)="changeDiscount($event)">
                    <label class="form-check-label" for="productdiscountRadio2">
                      10% or more
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="less10%"
                      id="productdiscountRadio1" (change)="changeDiscount($event)">
                    <label class="form-check-label" for="productdiscountRadio1">
                      Less than 10%
                    </label>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <!-- end accordion-item -->
  
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="static-3">
              <ng-template ngbPanelTitle class="accordion-header" id="flush-headingRating">
                <button class="border-0 bg-transparent" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseRating" aria-expanded="false" aria-controls="flush-collapseRating">
                  <span class="text-muted text-uppercase fs-12 fw-medium">Rating</span> <span
                    class="badge bg-success rounded-pill align-middle ms-1" *ngIf="totalrate > 0">{{totalrate}}</span>
                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <div class="d-flex flex-column gap-2">
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="4" id="productratingRadio4"
                      (change)="changeRating($event,4)">
                    <label class="form-check-label" for="productratingRadio4">
                      <span class="text-muted">
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                      </span> 4 & Above
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="3" id="productratingRadio3"
                      (change)="changeRating($event,3)">
                    <label class="form-check-label" for="productratingRadio3">
                      <span class="text-muted">
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <i class="mdi mdi-star"></i>
                      </span> 3 & Above
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="2" id="productratingRadio2"
                      (change)="changeRating($event,2)">
                    <label class="form-check-label" for="productratingRadio2">
                      <span class="text-muted">
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <i class="mdi mdi-star"></i>
                        <i class="mdi mdi-star"></i>
                      </span> 2 & Above
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="checkAll" type="checkbox" value="1" id="productratingRadio1"
                      (change)="changeRating($event,1)">
                    <label class="form-check-label" for="productratingRadio1">
                      <span class="text-muted">
                        <i class="mdi mdi-star text-warning"></i>
                        <i class="mdi mdi-star"></i>
                        <i class="mdi mdi-star"></i>
                        <i class="mdi mdi-star"></i>
                        <i class="mdi mdi-star"></i>
                      </span> 1
                    </label>
                  </div>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <!-- end accordion-item -->
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  
  
    <div class="col-xl-9 col-lg-8 mt-5">
      <div>
        <div class="card">
          <div class="card-header border-0">
            <div class="row g-4">
              <div class="col-sm">
                <div class="d-flex justify-content-sm-end">
                    <div class="search-box ms-2">
                        <input type="text" name="searchTerm" class="form-control" placeholder="Search Products..."
                          [(ngModel)]="service.searchTerm">
                        <i class="ri-search-line search-icon"></i>
                      </div>
                </div>
              </div>
            </div>
          </div>
  
<div class="d-flex justify-content-center">
    <div class="col-8">
        <div class="container-fluid mt-5 mb-3">
            <div class=row>
                <div class="col-12">
                    <div class="title-div">
                        <div class="col-lg-5">
                             <div class="text-center mt-3 mb-1">
                                <h1 class="mb-0 font-bold">Ürünler</h1>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                </div>
            </div>
            <div _ngcontent-fbe-c135="" class="row">
                <div _ngcontent-fbe-c135="" class="col-xl-3 col-sm-6" *ngFor="let variant of productVariants let i = index">
                    <div _ngcontent-fbe-c135="" class="card">
                        <div _ngcontent-fbe-c135="" class="card-body">
                            <div _ngcontent-fbe-c135="" class="product-img position-relative thumbnail" >
                                <a _ngcontent-fbe-c135="" href="/product-detail/1">
                                    <img _ngcontent-fbe-c135="" alt="" class="img-fluid mx-auto d-block picture1"
                                        src="{{imageFolderUrl+variant.productPaths[0]}}" /></a>
                                <img _ngcontent-vbt-c135="" alt="" class="img-fluid mx-auto d-block picture2"
                                    src="{{imageFolderUrl+variant.productPaths[1]}}" />

                                <div class="icon-div">
                                    <i class="ri-heart-line fs-md text-center heartIcon"></i>
                                </div>
                            </div>
                            <div _ngcontent-fbe-c135="" class="mt-4 text-left">
                                <h5 _ngcontent-fbe-c135="" class="mb-3 text-truncate">
                                    <a _ngcontent-fbe-c135="" href="/product-detail/1" class="text-dark">
                                        {{variant.productName}}
                                    </a>
                                </h5>
                                <p _ngcontent-fbe-c135="" class="text-muted">
                                    <i _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i><i
                                        _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i><i
                                        _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i><i
                                        _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i><i
                                        _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i>
                                </p>
                                <h5 _ngcontent-fbe-c135="" class="my-0">
                                    <span _ngcontent-fbe-c135="" class="text-muted me-2"><del _ngcontent-fbe-c135="">TRY
                                            {{variant.price}}</del></span><b _ngcontent-fbe-c135="">$ {{variant.price}}</b>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>
        </div>

    </div>
</div>
        </div>
        <!-- end card -->
      </div>
    </div>
    <!-- end col -->
  </div>