<!-- start hero section -->
<section class="section nft-hero" id="hero">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-10">
                <div class="text-center">
                    <h1 class="display-4 fw-medium mb-4 lh-base text-white">
                        Pofuu Macrame
                    </h1>
                    <p class="lead text-white-50 lh-base mb-4 pb-2">
                        Can artwork be NFT? NFTs (non-fungible tokens) are one-of-a-kind
                        digital assets. Given they're digital in nature, can physical works
                        of art be turned into NFTs?.
                    </p>

                    <div class="hstack gap-2 justify-content-center">
                        <a routerLink="/marletplace/create" class="btn btn-primary">Create Own <i
                                class="ri-arrow-right-line align-middle ms-1"></i></a>
                        <a routerLink="/marletplace/explore" class="btn btn-danger">Explore Now <i
                                class="ri-arrow-right-line align-middle ms-1"></i></a>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end hero section -->

<!-- Product Category Start  -->
<div class="d-flex justify-content-center mt-2">
    <div class="col-8">
        <div class="container-fluid">
            <div class="col-12">
                <div class="title-div">
                    <div class="col-lg-5">
                        <div class="text-center mt-3 mb-3">
                            <h1 class="mb-0 font-bold">Ürün Kategorileri</h1>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4">
                    <div class="card border-0 rounded-0">
                        <img loading="lazy" src="assets/images/macrame/macrame6.webp" class="card-img card-img-product-category" alt="Fruits & Vegetables" />
                        <div
                            class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
                            <h3 class="card-title fw-bold text-white mb-3">
                                Fruits &amp; Vegetables
                            </h3>
                            <p class="card-text text-white-50 mb-4">
                                Get Upto <span class="fw-bold">30%</span> Off
                            </p>
                            <a href="#!" class="btn btn-outline-light btn-lg">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="card border-0 rounded-0">
                        <img loading="lazy" src="assets/images/macrame/macrame6.webp" class="card-img card-img-product-category" alt="Freshly Baked Buns" />
                        <div
                            class="card-img-overlay d-flex flex-column justify-content-center align-items-center text-center">
                            <h3 class="card-title fw-bold text-white mb-3">
                                Freshly Baked Buns
                            </h3>
                            <p class="card-text text-white-50 mb-4">
                                Get Upto <span class="fw-bold">25%</span> Off
                            </p>
                            <a href="#!" class="btn btn-outline-light btn-lg">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Trend Category End -->

<!-- The Products of the Day Start -->
<div class="d-flex justify-content-center">
    <div class="col-8">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="title-div">
                        <div class="col-lg-5">
                            <div class="text-center mt-3 mb-3">
                                <h1 class="mb-0 font-bold">Günün Ürünleri</h1>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Products of the Day End -->

<!-- All Product Start -->
<div class="d-flex justify-content-center">
    <div class="col-8">
        <div class="container-fluid mt-5 mb-3">
            <div class=row>
                <div class="col-12">
                    <div class="title-div">
                        <div class="col-lg-5">
                             <div class="text-center mt-3 mb-1">
                                <h1 class="mb-0 font-bold">Ürünler</h1>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                </div>
            </div>
            <div _ngcontent-fbe-c135="" class="row">
                <div _ngcontent-fbe-c135="" class="col-xl-3 col-sm-6" *ngFor="let variant of productVariants let i = index">
                    <div _ngcontent-fbe-c135="" class="card">
                        <div _ngcontent-fbe-c135="" class="card-body">
                            <div _ngcontent-fbe-c135="" class="product-img position-relative thumbnail" >
                                <a _ngcontent-fbe-c135="" href="/product-detail/1">
                                    <img _ngcontent-fbe-c135="" alt="" class="img-fluid mx-auto d-block picture1"
                                        src="{{imageFolderUrl+variant.productPaths[0]}}" [routerLink]="'productDetail/detail/'+variant.productId+'/'+ variant.productVariantId" /></a>
                                <img _ngcontent-vbt-c135="" alt="" class="img-fluid mx-auto d-block picture2"
                                    src="{{imageFolderUrl+variant.productPaths[1]}}" [routerLink]="'productDetail/detail/'+variant.productId+'/'+ variant.productVariantId" />

                                <div class="icon-div">
                                    <i class="ri-heart-line fs-md text-center heartIcon"></i>
                                </div>
                            </div>
                            <div _ngcontent-fbe-c135="" class="mt-4 text-left">
                                <h5 _ngcontent-fbe-c135="" class="mb-3 text-truncate">
                                    <a _ngcontent-fbe-c135="" [routerLink]="'productDetail/detail/'+variant.productId+'/'+ variant.productVariantId" class="text-dark">
                                        {{variant.productName}}
                                    </a>
                                </h5>
                                <p _ngcontent-fbe-c135="" class="text-muted">
                                    <i _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i><i
                                        _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i><i
                                        _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i><i
                                        _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i><i
                                        _ngcontent-fbe-c135="" class="bx bx-star text-warning"></i>
                                </p>
                                <h5 _ngcontent-fbe-c135="" class="my-0">
                                    <span _ngcontent-fbe-c135="" class="text-muted me-2"><del _ngcontent-fbe-c135="">TRY
                                            {{variant.netPrice}}</del></span><b _ngcontent-fbe-c135="">$ {{variant.netPrice}}</b>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                
             </div>
        </div>

    </div>
</div>
<!-- All Product End -->