
//Product Card Hover Start
.picture1 {
    transition: .5s ease;
}

.thumbnail .picture2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.thumbnail:hover .picture1 {
    display: none;
    opacity: 0;
}

.thumbnail:hover .picture2 {
    position: absolute;
    display: block;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}

.heartIcon {
    font-size: 34px;
    float: left;
    width: 43px;
    height: 43px;
    opacity: 1.5;
}

.icon-div {
    width: 14%;
    height: 13%;
    border-radius: 50%;
    position: absolute !important;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.icon-div:hover .heartIcon {
    background-color: #E5E5E5;
    border-radius: 50%;
    padding: 0.01rem;
    border: 1px solid;
    max-width: 100%;
    color: #FF7808;
}
//Product Card Hover End


.rounded {
    border-radius: var(--fc-border-radius) !important;
}

// .nft-hero {
//     background-image: url('../../../../assets/images/rainbow-header-bg.jpg');
// }

.title-div {
    text-align: -webkit-center;
}












.end-left {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.col-gap {
    margin-left: -15px;
    margin-right: -15px;
}

.col-gap>div {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.relative {
    position: relative;
}

.overlay-section-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.main-bg {
    height: 515px;
}

.main-bg-inner {
    height: 241px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}


.mat-drawer-container {
    background-color: #fafafa;
    color: rgba(0, 0, 0, .87);
}


.overlay-section-content {
    position: relative;
    z-index: 9;
    padding: 2rem;
}


.mat-drawer-container {
    background-color: #fafafa;
    color: rgba(0, 0, 0, .87);
}

.overlay-section-content h4 {
    color: #fff;
}

.font-bold {
    font-weight: 700 !important;
}

.font-normal {
    font-weight: 400 !important;
}

.text-xxl {
    font-size: 140% !important;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.overlay-section-content button {
    letter-spacing: 1.25px;
    font-weight: 700;
}

.overlay-section-overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(37 37 56 / 55%);
    pointer-events: none;
}

.mat-button-ripple.mat-ripple,
.mat-button-focus-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}


.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mat-fab,
.mat-flat-button,
.mat-mini-fab,
.mat-raised-button {
    color: rgba(0, 0, 0, .87);
    background-color: #fff;
}


.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.mat-ripple {
    overflow: hidden;
    position: relative;
}

.mat-button-focus-overlay {
    opacity: 0;
    transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}



.swiper-container {
    width: 100%;
    height: 300px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.carousel-img {
    width: auto;
    height: auto;
    margin-right: 10px;
}

.swiper-container {
    overflow: hidden;
}

.swiper-slide img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.swiper-button-next,
.swiper-button-prev {
    position: relative;
    top: 50%;
    transform: translateY(-924%);
    z-index: 10;
}

.swiper-button-next {
    left: 20px;
    float: right;
}

.swiper-button-prev {
    left: -15px;
    float: left;
}


















.rimage-wrapper .rimage__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rimage-wrapper {
    position: relative;
    transition: background 500ms;
}

.image-one {
    height: auto;
    width: 100%;
}

.image-one,
.image-two {
    backface-visibility: hidden;
    display: block;
    transition: opacity 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.large-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.image-with-text {
    align-items: center;
}

.one-half {
    width: 50%;
}

.cc-animate-enabled .zoom-out-fade-in.cc-animate-in {
    animation: zoom-out-fade-in cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cc-animate-enabled .zoom-out-fade-in {
    will-change: transform, opacity;
}

.cc-animate-enabled [data-cc-animate] {
    opacity: 0;
}

.cc-animate-enabled [data-cc-animate=""].cc-animate-in,
.cc-animate-enabled .fade-in.cc-animate-in {
    animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.image-with-text .image-with-text__content {
    padding: 60px;
}

.image-with-text .image-with-text__title {
    margin-bottom: 15px;
}

.global-border-radius {
    border-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.relative {
    position: relative;
}


button,
input[type=submit],
.btn,
.btn--primary {
    -moz-user-select: "none";
    -ms-user-select: "none";
    -webkit-user-select: "none";
    user-select: "none";
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    --button-border-color: #4a5f63;
    --button-hover-filter: contrast(90%) brightness(1.1);
    margin: 1px;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.4em;
    min-width: 148px;
    padding: 11px 39px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: auto;
    border-radius: 25px;
    border: 0;
    text-transform: none;
    letter-spacing: inherit;
    white-space: normal;
    box-shadow: 0 0 0 1px var(--button-border-color);
    background-color: #4a5f63;
    color: #ffffff;
    transition: all 100ms ease-in-out;
}


.btn.btn--small {
    padding: 8px 22px;
    min-width: 118px;
}



.section-template--16732373483743__01d6a383-639a-4ce5-9684-af164e50671a .image-with-text {
    background: linear-gradient(352deg,
            rgba(218, 228, 230, 1) 22%,
            rgba(219, 226, 230, 1) 42%,
            rgba(140, 180, 168, 1) 95%);
    color: #413f43;
}

.section-template--16732373483743__01d6a383-639a-4ce5-9684-af164e50671a .image-with-text__image-size {
    padding: 30px 0 30px 30px;
}

.section-template--16732373483743__01d6a383-639a-4ce5-9684-af164e50671a .image-with-text--reverse .image-with-text__image-size {
    padding: 30px 30px 30px 0;
}

@media only screen and (max-width: 767.98px) {
    .section-template--16732373483743__01d6a383-639a-4ce5-9684-af164e50671a .image-with-text .image-with-text__image-size {
        padding: 30px 30px 0 30px;
    }
}


.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.day-product-image{
    box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
    background: #DAE4E6;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-img-product-category{
    height: auto;
    max-height: 76vh;
}



 /* Flex wrap'ı etkinleştirecek sınıf */
 .flex-wrap-web {
    flex-flow: inherit;
  }

  /* Ekran genişliği 992px ve daha büyükse flex-wrap-web sınıfını etkinleştir */
  @media (max-width: 992px) {
    .flex-wrap-web {
      flex-flow: row wrap;
    }
  }

  