<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Create Product" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<form [formGroup]="_productForm">
<div class="row">
        <div class="col-12 mb-3">
            <app-product-category></app-product-category>
        </div>
        <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" for="product-title-input">Ürün Kodu</label>
                            <input type="text" class="form-control" id="product-title-input"
                                placeholder="Ürün Kodu girin" formControlName="productCode">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="product-title-input">Ürün Adı</label>
                            <input type="text" class="form-control" id="product-title-input" placeholder="Ürün adını girin" formControlName="productName">
                        </div>
                        <div>
                            <label>Ürün Açıklaması</label>
                            <ckeditor [editor]="Editor" [config]="ckEditorConfigService.editorConfig" formControlName="description" data="
                      <p>Tommy Hilfiger men striped pink sweatshirt. Crafted with cotton. Material composition is 100% organic cotton. This is one of the world’s leading designer lifestyle brands and is internationally recognized for celebrating the essence of classic American cool style, featuring preppy with a twist designs.</p>
                      <ul>
                        <li>Full Sleeve</li>
                        <li>Cotton</li>
                        <li>All Sizes available</li>
                        <li>4 Different Color</li>
                      </ul>
                      ">
                            </ckeditor>
                        </div>
                    </div>
                </div>
        </div>

        
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="choices-publish-status-input" class="form-label">Durum</label>

                        <select class="form-select" id="choices-publish-status-input" data-choices
                            data-choices-search-false>
                            <option value="Published" selected>Aktif</option>
                            <option value="Scheduled">Pasif</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    
        <div class="text-start mb-3">
            <button type="button" class="btn btn-success w-sm" (click)="productFill()">Oluştur</button>
        </div>

        <!-- end col -->

</div>

<div class="col-lg-12" *ngIf="categoryAndProductReady">
    <app-add-product-variant></app-add-product-variant>
</div>
</form>
<!-- end row -->