<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body checkout-tab">
                    <div class="step-arrow-nav mt-n3 mx-n3 mb-3">
                        <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav nav-pills custom-nav nav-justified"
                            role="tablist">
                            <li [ngbNavItem]="1" class="nav-item">
                                <a ngbNavLink class="nav-link fs-15 p-3" data-bs-toggle="tab" role="tab">
                                    <i
                                        class="ri-truck-line fs-16 p-2 bg-primary-subtle text-primary rounded-circle align-middle mx-2"></i>
                                    Adresler
                                </a>
                                <ng-template ngbNavContent>
                                    <app-address *ngIf="isLoggedIn"></app-address>
                                    <div *ngIf="!isLoggedIn" class="guest-address-form">
                                        <h5 class="fs-15 mb-3">Teslimat Bilgileri</h5>
                                        <div class="mb-3">
                                            <label class="form-label">Ad Soyad</label>
                                            <input type="text" class="form-control" placeholder="Ad Soyad"
                                                [(ngModel)]="tsaPaymentParameter.fullName" name="guestFullName">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">E-posta</label>
                                            <input type="email" class="form-control" placeholder="E-posta"
                                                [(ngModel)]="tsaPaymentParameter.email" name="guestEmail">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Telefon</label>
                                            <input type="tel" class="form-control" placeholder="0 5XX XXX XX XX"
                                                [(ngModel)]="tsaPaymentParameter.phone" name="guestPhone"
                                                mask="0 000 000 00 00">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Adres</label>
                                            <textarea class="form-control" rows="2" placeholder="Adres"
                                                [(ngModel)]="tsaPaymentParameter.address" name="guestAddress"></textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Şehir</label>
                                            <select class="form-select" [(ngModel)]="tsaPaymentParameter.city" name="guestCity">
                                                <option value="">Lütfen şehir seçiniz</option>
                                                <option *ngFor="let city of cities" [ngValue]="city.name">{{city.name}}</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Posta Kodu</label>
                                            <input type="text" class="form-control" placeholder="Posta Kodu"
                                                [(ngModel)]="tsaPaymentParameter.postCode" name="guestPostCode">
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start gap-3 mt-4">
                                        <button type="button" class="btn btn-primary btn-label right ms-auto"
                                            (click)="customNav.select(2)"><i
                                                class="ri-shopping-basket-line label-icon align-middle fs-16 ms-2"></i>Sepet Özeti</button>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2" class="nav-item">
                                <a ngbNavLink class="nav-link fs-15 p-3" data-bs-toggle="tab" role="tab">
                                    <i
                                        class="ri-shopping-basket-line fs-16 p-2 bg-primary-subtle text-primary rounded-circle align-middle mx-2"></i>
                                    Sepet Özeti
                                </a>
                                <ng-template ngbNavContent>
                                    <app-shipping-cart [paymentParameter]="tsaPaymentParameter"></app-shipping-cart>
                                    <div class="d-flex align-items-start gap-3 mt-4">
                                        <button type="button" class="btn btn-light btn-label"
                                            (click)="customNav.select(1)"><i
                                                class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>
                                            Adres Bilgilerine Dön</button>
                                            <button type="button" class="btn btn-primary btn-label right ms-auto nexttab"
                                            data-nexttab="pills-payment-tab" (click)="payment()"><i
                                                class="ri-bank-card-line label-icon align-middle fs-16 ms-2"></i>Ödemeye Geç</button>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div [ngbNavOutlet]="customNav"></div>
                    </div>
    
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>



