.attributeImage{
    border: 1px solid var(--vz-border-color);
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
    width:88px;
    height:106;
}

hr{
    border:1px solid #bcc0c2;
}