<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Create Product" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->


<div class="row">
    <ng-container *ngIf="_productForm">
        <form [formGroup]="_productForm">
            <div class="row">
                <div class="col-lg-12">

                    <app-product-category [productId]="product?.id"
                        [mainCategoryLocked]="product?.id > 0"
                        (mainCategoryIdChange)="getAllTrueAttrSlicer()">
                    </app-product-category>
                    <div class="card mb-3" *ngIf="categoryAttributes.length > 0">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Kategori Attribute'ları</h5>
                        </div>
                        <div class="card-body">
                            <ng-select formControlName="selectedCategoryAttributes"
                                [items]="categoryAttributes"
                                bindLabel="attributeValue"
                                [multiple]="true"
                                [closeOnSelect]="false">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label" for="product-title-input">Ürün Kodu</label>
                                <input type="text" class="form-control" id="product-title-input"
                                    placeholder="Ürün Kodu girin" formControlName="productCode">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="product-title-input">Ürün Adı</label>
                                <input type="text" class="form-control" id="product-title-input"
                                    placeholder="Ürün adını girin" formControlName="productName">
                            </div>
                            <div>
                                <label>Ürün Açıklaması</label>
                                <ckeditor [editor]="Editor" [config]="ckEditorConfigService.editorConfig" id="editor" formControlName="description"></ckeditor>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Publish</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="choices-publish-status-input" class="form-label">Durum</label>

                                <select class="form-select" id="choices-publish-status-input" data-choices
                                    data-choices-search-false>
                                    <option value="Published" selected>Aktif</option>
                                    <option value="Scheduled">Pasif</option>
                                </select>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Ürün Kısa Açıklmaası</h5>
                        </div>
                        <div class="card-body">
                            <p class="text-muted mb-2">Ürün için kısa açıklama ekleyin</p>
                            <textarea class="form-control" placeholder="Must enter minimum of a 100 characters"
                                rows="3"></textarea>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                </div>
            </div>
            <!-- end card -->
        </form>
        <div class="col-lg-1">
            <div class="text-end mb-3">
                <button type="submit" class="btn btn-success w-sm" (click)="updateProduct()" >Güncelle</button>
            </div>
        </div>
    </ng-container>

    <div class="col-lg-12" *ngIf="product && categoryAndProductReady">
        <app-add-product-variant></app-add-product-variant>
    </div>
    <!-- end col -->

    <!-- start table -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Ürün Stoğu</h5>
            </div>
            <div class="card-body">
                <ngx-datatable style="width:100%;" #table class="material whitespace-nowrap single-selection pt-2"
                    [rows]="productStocks$ | async" [scrollbarH]="true" [columnMode]="'force'" [headerHeight]="50"
                    [limit]="10" [footerHeight]="50" [rowHeight]="60">
                    <ngx-datatable-column name="Id  " prop="firstProductVariantId">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Ürün Bilgisi" prop="attributeValue">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Adet" prop="quantity">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Fiyat (Varyant)" prop="price">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ (row.price ?? 0) | number:'1.2' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Kdv" prop="kdv">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Net Fiyat (Varyant)" prop="netPrice">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{ (row.netPrice ?? 0) | number:'1.2' }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="İşlemler" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <ng-container>
                                <div container="body" ngbDropdown placement="bottom-right">
                                    <a href="javascript:void(0);" class="arrow-none" role="button"
                                        id="dropdownMenuLink4" data-bs-toggle="dropdown" aria-expanded="false"
                                        ngbDropdownToggle>
                                        <i class="ri-more-2-fill"></i>
                                    </a>
                                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="productImageModal(row)">Varyant Fotoğrafı</a>
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="productStockModal(row)">Stok Bilgisini güncelle</a>

                                    </div>
                                </div>
                            </ng-container>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>

    <!-- Extra Large modal example -->
<ng-template #exlargeModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="myExtraLargeModalLabel">Extra large modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Close click')"></button>
        </div>
        <div class="modal-body">
            <h6 class="fs-15">Ürün Galerisi</h6>
            <app-product-images [productImage]="productImage" [form]="form" [formData]="formData" ></app-product-images>
        </div>
    </div><!-- /.modal-content -->
</ng-template><!-- /.modal -->


    <!-- Extra Large modal example -->
    <ng-template #exlargeModalPs let-modal>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myExtraLargeModalLabel">Extra large modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="modal.dismiss('Close click')"></button>
            </div>
            <div class="modal-body">
                <h6 class="fs-15">Stok Bilgisi</h6>
                <app-update-product-stock  [productStock]="productStock"></app-update-product-stock>
            </div>
        </div><!-- /.modal-content -->
    </ng-template><!-- /.modal -->
    

</div>